* {
  box-sizing: border-box;
}

.body {
  margin: 0;
}

.page-container {
  max-width: 100%;
  font-family: "Trebuchet MS", "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial, sans-serif;
  /*margin-left: auto;
     margin-left: auto;
     padding-left: 1rem;
     padding-right: 1rem;*/
}

.header-background-container {
  background-color: #4e0011;
  padding-bottom: 20px;
}

.header-container {
  display: flex;
  flex-direction: column;
  background-color: #4e0011;
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  border-bottom-left-radius: 25%;
  border-bottom-right-radius: 25%;
}

.header-body-container {
  color: #8eb9ff;
  padding-top: 30vh;
  padding-bottom: 30vh;
  padding-left: 15vw;
  padding-right: 15vw;
  font-size: 2vw;
}

.title-column-container {
  display: inline-flex;
  justify-content: center;
  align-items: center;
}

.title-column {
  display: inline-block;
}

.title {
  margin-top: 0;
}

.image-column {
  display: inline;
}

.profile-pic {
  max-width: 40%;
  max-height: 40%;
  display: block;
  float: right;
}

.status-button {
  background-color: #8eb9ff;
  color: #4e0011;
  border: none;
  border-radius: 8px;
  padding: 12px 20px;
  /*&:hover {
         background-color: #b6cffb;
     } 
     BECAUSE IT IS NOT A CLICKABLE BUTTON*/
  text-align: left;
}

/*.status-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }*/
@media screen and (max-width: 992px) {
  .header-container {
    font-size: 4vw;
  }
}
.header-footer-container {
  padding-right: 15vw;
  padding-bottom: 5vw;
  padding-left: 15vw;
  text-align: center;
  color: #c2858c;
  font-weight: 600;
  line-height: 1.8;
}

@media screen and (max-width: 992px) {
  h2 {
    font-size: medium;
  }
}
@media screen and (max-width: 992px) {
  p {
    font-size: small;
  }
}
.internship-inquiry {
  color: #8eb9ff;
}

.resume-container {
  display: flex;
  flex-direction: column;
  max-width: 100%;
  align-items: center;
  background: linear-gradient(to bottom, #4e0011, #e1bbc3, #cddefa, #8eb9ff);
}

.employment-container {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(142, 185, 255, 0.2156862745);
  border-radius: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #4e0011;
  width: 100%;
  max-width: 70%;
}

@media screen and (max-width: 445px) {
  .employment-container {
    max-width: 100%;
  }
}
th {
  border-bottom: 1px solid #4e0011;
  padding-top: 1vh;
  padding-bottom: 1vh;
  text-align: left;
}

td {
  padding-top: 1vh;
  padding-bottom: 3vh;
}

@media screen and (max-witdh: 445px) {
  td {
    font-size: x-small;
  }
}
.technical-skills-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-left: 2vw;
  background-color: rgba(142, 185, 255, 0.2156862745);
  border-radius: 15px;
  color: #4e0011;
  width: 100%;
}

@media screen and (max-width: 445px) {
  .technical-skills-container {
    max-width: 100%;
  }
}
h4 {
  margin-top: 0;
}

.technical-skills-button-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1vh;
  width: 100%;
}

.skills-button {
  padding: 15px 30px;
  margin-right: 0.5vw;
  margin-bottom: 0.5vh;
  border: none;
  border-radius: 15px;
  background-color: #902124;
  color: #c2858c;
  font-weight: bold;
}

.education-container {
  display: flex;
  flex-direction: column;
  padding-left: 2vw;
  padding-right: 2vw;
  background-color: rgba(142, 185, 255, 0.2156862745);
  border-radius: 15px;
  margin-top: 2vh;
  margin-bottom: 2vh;
  color: #4e0011;
  width: 100%;
  max-width: 70%;
}

@media screen and (max-width: 445px) {
  .education-container {
    max-width: 100%;
  }
}
.personal-interests-container {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  max-width: 70%;
  padding-right: 2vw;
  padding-bottom: 2vh;
  padding-left: 2vw;
  background-color: rgba(142, 185, 255, 0.2156862745);
  border-radius: 15px;
  color: #4e0011;
  width: 100%;
  margin-bottom: 2vh;
}

@media screen and (max-width: 445px) {
  .personal-interests-container {
    max-width: 100%;
  }
}
.personal-interests-button-container {
  display: flex;
  flex-wrap: wrap;
  padding-bottom: 1vh;
  width: 100%;
}

.interests-button {
  padding: 15px 30px;
  margin-right: 0.5vw;
  margin-bottom: 0.5vh;
  border: none;
  border-radius: 15px;
  background-color: #902124;
  color: #c2858c;
  font-weight: bold;
}

.youtube-video-container {
  margin-top: 5vh;
  margin-bottom: 5vh;
}

.youtube-video {
  height: 40vh;
  width: 40vw;
}

.footer-background-container {
  background-color: #8eb9ff;
}

.footer-container {
  background-size: 100% 100%;
  background-color: #8eb9ff;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  color: #6f1b1d;
  border-top-left-radius: 25%;
  border-top-right-radius: 25%;
}

.footer-body-container {
  padding-top: 10vh;
  padding-bottom: 10vh;
}

.contact-headline {
  text-align: center;
}

@media screen and (max-width: 992px) {
  .contact-headline {
    font-size: larger;
  }
}
.contact-info-button-container {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-around;
  padding: 2vw;
}

.contact-info-button {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px; /* fix responsiveness*/
  width: 23%;
  border-radius: 40px;
  background-color: #902124;
  color: #c2858c;
  border: 2px solid #6f1b1d;
}
.contact-info-button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}

@media screen and (max-width: 917px) {
  .contact-info-button-container {
    flex-direction: column;
    align-items: center;
  }
  .contact-info-button {
    width: 40%;
    margin-bottom: 1vh;
  }
}
.contact-link {
  font-size: medium;
  text-decoration: underline;
}

@media screen and (max-width: 630px) {
  .contact-link {
    font-size: small;
  }
}
@media screen and (max-width: 540px) {
  .contact-link {
    font-size: x-small;
  }
  .contact-link .contact-info-button {
    width: 45%;
  }
}
.material-icons {
  font-size: 36px;
}

.github-linkedin-icon {
  font-size: 36px;
}

.contact-link {
  margin-top: 3vh;
  margin-bottom: 1vh;
  color: #c2858c;
}

.contact-text {
  font-size: small;
  text-align: center;
}

@media screen and (max-width: 540px) {
  .contact-text {
    font-size: x-small;
  }
}
.contact-form-heading {
  padding-top: 5vh;
  padding-bottom: 5vh;
  text-align: center;
}

.contact-form-container {
  width: 100%;
  padding: 0 2vw;
}

.form {
  padding: 0 15px;
}

.form-name-email-container {
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 1em;
}

.form-name {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
  display: inline;
  width: 49%;
  padding: 15px 30px;
}

.form-email {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
  display: inline;
  width: 49%;
  padding: 15px 30px;
}

.form-subject {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
  width: 100%;
  padding: 15px 30px;
  margin-bottom: 1em;
}

.form-message {
  border: none;
  border-radius: 15px;
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  border: 1px solid grey;
  width: 100%;
  padding: 15px 30px;
  margin-bottom: 2em;
}

.submit-button-container {
  display: flex;
  justify-content: center;
}

.send-message-button {
  padding: 15px 30px;
  border: none;
  border-radius: 15px;
  background-color: #902124;
  color: #c2858c;
  font-weight: bold;
}
.send-message-button:hover {
  box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.24), 0 10px 14px 0 rgba(0, 0, 0, 0.19);
  transition: all 0.5s;
}/*# sourceMappingURL=index.css.map */