$boxShadow: 0 5px 10px 0 rgba(0,0,0,0.24),0 10px 14px 0 rgba(0,0,0,0.19);

@mixin form-style {
    border: none;
    border-radius: 15px;
    box-shadow: $boxShadow;
    border: 1px solid grey;
}

@mixin see-experience-button-style {
    border: none;
    background-color: #8eb9ff00;
    color: #4e0011;
    align-content: left;
    cursor: pointer;
    &:hover {
        color: #902124;
        transition: all 0.5s;
    }
}

* {
    box-sizing: border-box;
}

.body {
    margin: 0;
}

.page-container {
    max-width: 100%;
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    /*background: linear-gradient(to bottom, #4e0011, #8eb9ff);*/
    /*margin-left: auto;
    margin-left: auto;
    padding-left: 1rem;
    padding-right: 1rem;*/
}

.header-container {
    display: flex;
    flex-direction: column;
    background-size: 100% 100%;
    background-color: #4e0011;
    background-image: url(/Resources/IMG_0319.jpg);
    background-repeat: no-repeat;
    background-blend-mode: multiply; /*takes the dark background color and lays on top "lighten" for lighter colors*/
    border-bottom-left-radius: 25%;
    border-bottom-right-radius: 25%;
}

.header-body-container {
    color: #8eb9ff;
    padding-top: 50vh;
    padding-bottom: 50vh;
    padding-left: 15vw;
    font-size: 2vw;
}

h1 {
    padding-bottom: 4vh;
}

.status-button {
    background-color: #8eb9ff;
    color:#4e0011;
    border: none;
    border-radius: 8px;
    padding: 12px 20px;
    /*&:hover {
        background-color: #b6cffb;
    } 
    BECAUSE IT IS NOT A CLICKABLE BUTTON*/
    text-align: left;
}

/*.status-button:hover {
    box-shadow: 0 12px 16px 0 rgba(0,0,0,0.24),0 17px 50px 0 rgba(0,0,0,0.19);
  }*/

  @media screen and (max-width: 992px) {
    .header-container {
        font-size: 4vw;
    }
  }

  .read-resume-button-container {
    display: flex;
    justify-content: center;
    margin-bottom: 2vh;
  }

  .read-resume-button {
    background-color: #4e001128;
    color:#8eb9ff;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    &:hover {
        background-color: #902124;
        box-shadow: $boxShadow;
        transition: all 0.5s;
    }
    cursor: pointer;
  }


// .intro-message-container {
//     padding: 15% 30%;
//     color: #4e0011;
// }

// .intro-author {
//     text-align: right;
// }

.resume-container {
    display: flex;
    flex-direction: column;
    max-width: 100%;
    padding-top: 5vh;
    padding-right: 25vw;
    padding-bottom: 5vh;
    padding-left: 8.5vw;
}

.employment-container {
    padding-left: 2vw;
    padding-right: 2vw;
    background-color: #8eb9ff37;
    border-radius: 15px;
    margin-bottom: 2vh;
    color: #4e0011;
}

.employment-table {
    width: 100%;
}

th {
    border-bottom: 1px solid #4e0011;
    padding-top: 1vh;
    padding-bottom: 1vh;
    text-align: left;
}

.experience-cell {
    text-align: center;
}

td {
    padding-top: 1vh;
    padding-bottom: 1vh;
}

.experience-button-container {
    text-align: center;
}

.see-experience-button {
    @include see-experience-button-style();
}

.footer-container {
    background-size: 100% 100%;
    background-color: #8eb9ff;
    color: #6f1b1d;
    border-top-left-radius: 25%;
    border-top-right-radius: 25%;
}

.read-intromessage-button-container {
    display: flex;
    justify-content: center;
  }

  .read-intromessage-button {
    background-color: #8eb9ff;
    color:#902124;
    font-weight: bold;
    border: none;
    border-radius: 15px;
    padding: 15px 30px;
    &:hover {
        background-color: #c2858c;
        box-shadow: $boxShadow;
        transition: all 0.5s;
    }
    cursor: pointer;
    margin-top: 2vh;
  }

.footer-body-container {
    padding-top: 10vh;
    padding-bottom: 10vh;
}

h2 {
    padding-left: 8.5vw;
}

.contact-info-button-container {
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    padding: 2vw;
}

.contact-info-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 30px; /* fix responsiveness*/
    width: 25%;
    border-radius: 40px;
    background-color: #902124;
    color:#c2858c;
    border: 2px solid #6f1b1d;
    &:hover {
        box-shadow: $boxShadow;
        transition: all 0.5s;
    }
}

@media screen and (max-width: 873px) {
    .contact-info-button-container {
      flex-direction: column;
      align-items: center;
    }
    .contact-info-button {
        width: 40%;
        margin-bottom: 1vh;
    }
  }

.contact-details {
    font-size: medium;
    text-decoration: underline;
}

@media screen and (max-width: 630px) {
    .contact-details {
        font-size: small;
    }
  }

  @media screen and (max-width: 540px) {
    .contact-details {
        font-size: x-small;
    .contact-info-button {
        width: 45%;
    }}
}

.material-icons {
    font-size: 36px;
}

.linkedin-icon {
    font-size: 36px;
}

.contact-form-heading {
    padding-top: 5vh;
    padding-left: 2vw;
}

.contact-form-container {
    width: 100%;
    padding: 0 2vw 5vw 2vw;
}

.form {
    padding: 0 15px;
}

.form-name-email-container{
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 1em;
}

.form-name {
    @include form-style();
    display: inline;
    width: 49%;
    padding: 15px 30px;
}

.form-email {
    @include form-style();
    display: inline;
    width: 49%;
    padding: 15px 30px;
}

.form-subject {
    @include form-style();
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 1em;
}

.form-message {
    @include form-style();
    width: 100%;
    padding: 15px 30px;
    margin-bottom: 2em;
}

.submit-button-container {
    display: flex;
    justify-content: center;
}

.send-message-button {
    padding: 15px 30px;
    border: none;
    border-radius: 15px;
    background-color: #902124;
    color: #c2858c;
    font-weight: bold;
    &:hover {
        box-shadow: $boxShadow;
        transition: all 0.5s;
    }
}